<section class="page cover">

    <div class="cover-header">
        

    </div>
    <div class="logo">

            {{ logo_svg|safe }}

        </div>

    <div class="cover-body">

        <div class="proposal-label">
            FINANCIAL & TECHNICAL PROPOSAL
        </div>

        <h1>
            Corporate Website &
            <br>
            Enterprise Digital Platform
        </h1>

        <p class="subtitle">
            Website Development, Employee Management,
            Workflow Automation & Digital Transformation
        </p>

    </div>

    <div class="cover-footer">

        <div class="left">

            <div class="small-title">
                Prepared For
            </div>

            <h3>
                {{ client.name }}
            </h3>

            <p>
                {{ client.contact }}
            </p>

        </div>

        <div class="right">

            <div class="small-title">
                Prepared By
            </div>

            <h3>
                {{ company.name }}
            </h3>

            <p>
                {{ company.tagline }}
            </p>

            <span>
                {{ proposal.prepared_date }}
            </span>

        </div>

    </div>

</section>